// Mixins in here

.btn {
  display: block;
  background-color: rgb(32, 191, 135);
  margin: 0 10px 20px;
  width: 150px;
  height: 40px;
  font-size: 2rem;
  border-radius: 10px;
  text-align: center;
  padding-top: 4%;

  &:hover {
background-color: darken(rgb(32, 191, 135), 10%);
  }
}